.main-tab{
    display: grid;
    grid-template-columns: 60% 40%;
}

#logo{
    content:url("assets/ZweihanderLogo.png");
    width: 120px;
    height: auto;
}

#navigation{
    left: 140px;
}

.npc-top-tab{
    display: grid;
    grid-template-columns: 40% 60%;
}

.character-info{
    display: grid;
    grid-template-columns: 34% 33% 33%;
}

.top-section{
    display: grid;
    grid-template-columns: 80% 20%;
}

.logo{
    height: 64px;
    border: none;
}

.character-info div{
    padding: 5px;
}

.attribute-section{
    width: 100%;
    border: 1px solid black;
}

.profession-info{
    display: grid;
    grid-template-columns: 50% 50%;
}

.attribute-row{
    display: grid;
    grid-template-columns: 35% 65%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.attribute-individual{
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid black;
}

.attribute-value{
    width: 40px;
    border: 1px solid black;
    background-color: tan;
}


.bold{
    font-weight: bold;
}

.tracker-container{
    position: absolute;
    bottom: 100px;
    right: 354px;
    width: 200px;
    height: 205px;
    background-color: gray;
    color: red;

    -webkit-transition: width 0.5s linear;
    -moz-transition: width 0.5s linear;
      -ms-transition: width 0.5s linear;
        -o-transition: width 0.5s linear;
          transition: width 0.5s linear;}

.tracker-container input{
    background-color: aliceblue;
    color: red;
}



.form-damage{
    background-color: #ccc;
  display: flex;
  flex-direction: column;
}

.form-peril{
    background-color: #ccc;
  display: flex;
  flex-direction: column;
}

.corruption-display input{
    width: 45px;
    font-size: x-large;
    color: red;
    text-align: center;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

input.short-input{
    width: 50px;
}

div#Professions{
    display: none;
}

div#Combat{
    display: none;
}

.sheet-navigation{
    font-size: x-large;
    color: red;
    padding-top: 5px;

}

.sheet-navigation .item{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: black;
    padding: 2px;
}

.display-tab{
    padding-top: 5px;
}

.peril-display input{
    width: 40px;
}

.wound-display input{
    width: 40px;
}

.profession-card{
    border: solid 1px black;
    padding: 4px;
}

.item-card{
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px;
}

.weapon-card-item{
    display: inline-block;
    min-width: 25%;
    text-align: left;
}

.trapping-card-item{
    display: inline-block;
    min-width: 33%;
    text-align: left;
}

.alignment-section{
    text-align: center;
}

.combat-column{
    padding: 3px;
    padding-right: 5px
}

.item-delete{
    float: right;
}

.item-edit-float{
    float: right;
}

.profession-delete{
    float: right;
}

input.long-input{
    width: 100px
}

.editor-row{
    min-height: 100px;
}

.editor-content{
    height: 100%;
    min-height: 100px;
}

.Backgrounds{
    display: grid;
    grid-template-columns: 60% 40%;
}

.button-style{
        background-color: slategray;
        color:red;
        padding: 5px;
        text-decoration: none;
        text-transform: uppercase;
}

.npc-skill-section{
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 16%;

}

.single-input{
    width: 20px;
}

.npc-skill-menu{
    display: grid;
    grid-template-columns: 80% 20%
}

.npc-skill-menu div{
    display: inline-block;
}

.roll-output{
    color: black;
    font-size: xx-large;
    text-align: center;
}

#quality-section{
    margin-left: 20px;
    margin-right: 20px
}

.success-output{
    background-color: green;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    color: white;
    margin-top: 2px;
}

.hidden-tab{
    display: none;
}

.item-card p{
    display: inline;
}

.character-art{
    max-height: 100%;
    float: right;
}
.failure-output{
    background-color: red;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    color: white;
    margin-top: 2px;
}

.critical-true-failure{
    color: red;
}

.critical-true-success{
    color: blue;
}

.item-controls {
  text-align: right;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
}

.item-control{
  width:10%;
}
.cell__title {
  text-align: right;
}

.cell__title label{
  float:left;
}


/*ROLL TEMPLATE STYLING */
.rolltemplate-zweihander .template-wrap {
    background-color: #f1f1f1;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    width: 100%;
    margin-left: -10px;
    padding: 5px;
}

.rolltemplate-zweihander .template-grid {
    display: grid;
    grid-gap: 2px;
    background-color: #dcdcdc;
    padding: 2px;
    box-shadow: 0px 0px 2px #696969;
    grid-template-columns: auto auto auto auto;
}

.rolltemplate-zweihander .template-grid-item {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 3px;
}

.rolltemplate-zweihander .template-span-all-four {
    grid-column: 1 / 5;
}

.rolltemplate-zweihander .template-span-one-two {
    grid-column: 1 / 3;
}
.rolltemplate-zweihander .template-span-one-three {
    grid-column: 1 / 4;
}

.rolltemplate-zweihander .template-span-three-four {
    grid-column: 3 / 5;
}

.rolltemplate-zweihander .template-center-contents {
    text-align: center;
}

.rolltemplate-zweihander .template-dark-taupe {
    background-color: #706658;
}

.rolltemplate-zweihander .template-dark-blue {
    background-color: #004080;
}

.rolltemplate-zweihander .template-dark-red {
    background-color: #990000;
}

.rolltemplate-zweihander .template-header {
    font-family: "Times New Roman", Georgia, Serif;
    font-variant: small-caps;
    font-size: 1.4em;
    font-weight: bold;
    color: #ffffff;
    line-height: 1.6em;
}

.rolltemplate-zweihander .template-sub-header {
    font-size: 0.9em;
}

.rolltemplate-zweihander .template-smaller {
    font-size: 0.8em;
}

.rolltemplate-zweihander .template-bold {
    font-weight: bold;
}

.rolltemplate-zweihander .template-dodgerblue {
    color: #1e90ff;
}

.rolltemplate-zweihander .template-green {
    color: #3FB315;
}

.rolltemplate-zweihander .template-red {
    color: #B31515;
}

.rolltemplate-zweihander .inlinerollresult  {
    background-color: transparent;
    border: none;
}

.rolltemplate-zweihander .inlinerollresult.fullfail {
    color: #3FB315;
    border: none;
}

.rolltemplate-zweihander .inlinerollresult.fullcrit {
	color: #B31515;
    border: none;
}

.rolltemplate-zweihander .inlinerollresult.importantroll {
	color: #4A57ED;
    border: none;
}

/*  MY Roll Templates   */
 .rolltemplate-attrib,
.rolltemplate-attrib table.attrib {
    width: 100%;
    background: #C1B39A;
    color: black;
    font-size: 1em;
    font-family: "Contrail One", sans-serif;
    box-shadow: -5px -5px 5px black;
    color: black;
    border: none;
    border-radius:15px;
}

.rolltemplate-attrib th {
    color: white;
    padding: 4px;
    line-height: 1.6em;
    width: 100%;
    height: 100%;
    border-spacing: 0;
    font-variant: small-caps;
    font-weight:200;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 1.4em;
    text-shadow: none;

    background: #706658; /* Old browsers */
    box-shadow: inset 5px 0px 20px 0px black, inset -5px 0px 20px 0px black;
    border-radius: 15px 15px 0px 0px
}



.rolltemplate-attrib .tcat {
    font-weight: bold;
}

.rolltemplate-attrib .inlinerollresult  {
    display: inline-block;
    min-width: 1.5em;
    text-align: center;
    border: 2px solid transparent;
    background:transparent;
}

.rolltemplate-attrib .no_border .inlinerollresult {
    display: inline-block;
    min-width: 1.5em;
    border: 2px solid transparent;
    background:transparent;
    font-weight:400;
}

.rolltemplate-attrib .inlinerollresult.fullfail {
    border: 2px solid transparent;
}

.rolltemplate-attrib .inlinerollresult.importantroll {
    border: 2px solid transparent;
}

.rolltemplate-attrib div.focus {
    font-size:0.8em;
    padding-left:10px;
    color:white;
    text-shadow: 0px 0px 5px black;
}
