<div class="armor-card item-card">
    <div class="item-name" data-item-id="{{_id}}">
        {{name}} - 
        {{data.qualities}}<a class="item-edit-float item-edit"><i class="fas fa-edit"></i></a><a class="item-delete"><i class="fas fa-trash"></i></a>
    </div>
</div>