<i style="color: red"class="far fa-times-circle chaos-reduce" data-ranks="0"></i>
{{#if (gt data.alignment.chaosranks 0)}}<i class="far fa-dot-circle chaos-reduce" data-ranks="1"></i>{{else}}<i class="far fa-circle chaos-increase" data-ranks="1"></i>{{/if}}
{{#if (gt data.alignment.chaosranks 1)}}<i class="far fa-dot-circle chaos-reduce" data-ranks="2"></i>{{else}}<i class="far fa-circle chaos-increase" data-ranks="2"></i>{{/if}}
{{#if (gt data.alignment.chaosranks 2)}}<i class="far fa-dot-circle chaos-reduce" data-ranks="3"></i>{{else}}<i class="far fa-circle chaos-increase" data-ranks="3"></i>{{/if}}
{{#if (gt data.alignment.chaosranks 3)}}<i class="far fa-dot-circle chaos-reduce" data-ranks="4"></i>{{else}}<i class="far fa-circle chaos-increase" data-ranks="4"></i>{{/if}}
{{#if (gt data.alignment.chaosranks 4)}}<i class="far fa-dot-circle chaos-reduce" data-ranks="5"></i>{{else}}<i class="far fa-circle chaos-increase" data-ranks="5"></i>{{/if}}
{{#if (gt data.alignment.chaosranks 5)}}<i class="far fa-dot-circle chaos-reduce" data-ranks="6"></i>{{else}}<i class="far fa-circle chaos-increase" data-ranks="6"></i>{{/if}}
{{#if (gt data.alignment.chaosranks 6)}}<i class="far fa-dot-circle chaos-reduce" data-ranks="7"></i>{{else}}<i class="far fa-circle chaos-increase" data-ranks="7"></i>{{/if}}
{{#if (gt data.alignment.chaosranks 7)}}<i class="far fa-dot-circle chaos-reduce" data-ranks="8"></i>{{else}}<i class="far fa-circle chaos-increase" data-ranks="8"></i>{{/if}}
{{#if (gt data.alignment.chaosranks 8)}}<i class="far fa-dot-circle chaos-reduce" data-ranks="9"></i>{{else}}<i class="far fa-circle chaos-increase" data-ranks="9"></i>{{/if}}
{{#if (gt data.alignment.chaosranks 9)}}<i class="far fa-dot-circle chaos-reduce" data-ranks="10"></i>{{else}}<i class="far fa-circle chaos-increase" data-ranks="10"></i>{{/if}}