<div class="profession-card item-card">
    <div class="item-name" data-item-id="{{_id}}"><a class="item-edit">{{name}}</a>
    
    <a class="profession-delete"><i class="fas fa-trash"></i></a>
        
    </div>
    {{#if (gt data.trait1.name.length 0)}}
        <div><strong><a class="show-hidden">Trait: {{data.trait1.name}}</a></strong></div><div class="hidden-tab">{{{data.trait1.description}}}</div>
        {{/if}}
    {{#if (gt data.drawback1.name.length 0)}}
        <div><strong><a class="show-hidden">Drawback: {{data.drawback1.name}}</a></strong></div><div class="hidden-tab">{{data.drawback1.description}}</div>
        {{/if}}
</div>