                        
                        <option value="intelligence.alchemy">Alchemy*</option>
                        <option value="brawn.athletics">Athletics</option>
                        <option value="perception.awareness">Awareness</option>
                        <option value="fellowship.bargain">Bargain</option>
                        <option value="fellowship.charm">Charm</option>
                        <option value="agility.coordination">Coordination</option>
                        <option value="intelligence.counterfeit">Counterfeit*</option>
                        <option value="fellowship.disguise">Disguise*</option>
                        <option value="brawn.drive">Drive*</option>
                        <option value="perception.eavesdrop">Eavesdrop</option>
                        <option value="intelligence.education">Education*</option>
                        <option value="intelligence.folklore">Folklore</option>
                        <option value="intelligence.gamble">Gamble</option>
                        <option value="fellowship.guile">Guile</option>
                        <option value="fellowship.handleanimal">Handle Animal*</option>
                        <option value="intelligence.heal">Heal*</option>
                        <option value="willpower.incantation">Incantation*</option>
                        <option value="willpower.interrogation">Interrogation*</option>
                        <option value="brawn.intimidate">Intimidate</option>
                        <option value="fellowship.leadership">Leadership*</option>
                        <option value="combat.martialmelee">Martial Melee*</option>
                        <option value="combat.martialranged">Martial Ranged*</option>
                        <option value="intelligence.navigation">Navigation*</option>
                        <option value="agility.pilot">Pilot*</option>
                        <option value="willpower.resolve">Resolve</option>
                        <option value="agility.ride">Ride*</option>
                        <option value="fellowship.rumor">Rumor</option>
                        <option value="perception.scrutinize">Scrutinize</option>
                        <option value="combat.simplemelee">Simple Melee</option>
                        <option value="combat.simpleranged">Simple Ranged</option>
                        <option value="agility.skullduggery">Skullduggery*</option>
                        <option value="agility.stealth">Stealth</option>
                        <option value="perception.survival">Survival</option>
                        <option value="brawn.toughness">Toughness</option>
                        <option value="willpower.tradecraft">Tradecraft*</option>
                        <option value="intelligence.warfare">Warfare*</option>
                        