<div class="spell-card item-card">
    <div class="item-name" data-item-id="{{id}}">
        <a class="spell-roll" data-skill="incantation" data-type="spell" data-att="willpower" data-details='{{data.description}}' data-critsucc='{{data.criticalsuccess}}' data-critfail='{{data.criticalfailure}}'>{{name}}</a>  <a class="item-edit-float item-edit"><i class="fas fa-edit"></i></a><a class="item-delete"><i class="fas fa-trash"></i></a>
    </div>
</div>
