<div class="condition-card item-card">
    <div class="item-name" data-item-id="{{_id}}">
        {{#if (eq type "Focus")}}
        {{data.skill}} -
        {{/if}}
        {{name}}
        {{#unless (eq type "Focus")}}
        - {{{data.description}}}
        {{/unless}}
        
        


        <a class="item-edit item-edit-float"><i class="fas fa-edit"></i></a><a class="item-delete"><i class="fas fa-trash"></i></a>
    </div>
</div>
