<div class="weapon-card item-card">
    <div class="item-name" data-item-id="{{_id}}">
        <span class="trapping-card-item"><a class="show-hidden" data-skill="{{data.skill}}">{{name}}</a></span>
        <span class="trapping-card-item"><a class="trapping-spend" title="Use Trapping"><i class="far fa-minus-square"></i></a> Quantity: {{data.quantity}} <a class="trapping-add"><i class="far fa-plus-square"></i></a></span>
        {{data.qualities}}<a class="item-edit-float item-edit"><i class="fas fa-edit"></i></a><a class="item-delete"><i class="fas fa-trash"></i></a>
    <div class="hidden-tab">
        {{{data.description}}}
    </div>
    </div>
</div>