<div class="weapon-card item-card">
    <div class="item-name" data-item-id="{{_id}}">
        <span class="weapon-card-item"><a class="attack-roll" data-skill="{{data.skill}}" data-type="basic" data-att="combat">{{name}}</a></span>
        <span class="weapon-card-item"><a class="damage-roll" >Roll Damage</a></span>
        <span class="weapon-card-item">{{data.qualities}}</span>
        <a class="item-edit-float item-edit"><i class="fas fa-edit"></i></a><a class="item-delete"><i class="fas fa-trash"></i></a>
    </div>
</div>
