<form class="item-sheet {{cssClass}}" autocomplete="off">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h3 id="Name" class="charname">Name <input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h3>
<div class="main-tab">
    <div>[AB]: <input name="data.agility" value="{{data.agility}}" /></div>
    <div>[BB]: <input name="data.brawn" value="{{data.brawn}}" /></div>
    <div>[CB]: <input name="data.combat" value="{{data.combat}}" /></div>
    <div>[FB]: <input name="data.fellowship" value="{{data.fellowship}}" /></div>
    <div>[IB]: <input name="data.intelligence" value="{{data.intelligence}}" /></div>
    <div>[PB]: <input name="data.perception" value="{{data.perception}}" /></div>
    <div>[WB]: <input name="data.willpower" value="{{data.willpower}}" /></div>
    <div>Description<input type="text" name="data.description" value="{{data.description}}" /></div>
    </div>
</form>
