<form class="item-sheet {{cssClass}}" autocomplete="off">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h3 id="Name" class="charname">Name <input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h3>
    <div><select name="data.conditiontype" value="{{data.conditiontype}}">{{#select data.conditiontype}}
        <option value="condition">Condition</option>
        <option value="disease" >Disease</option>
        <option value="drawback" >Drawback</option>
        <option value="disorder">Disorder</option>
        <option value="injury">Injury</option>
        <option value="mutation">Mutation</option>
        <option value="quality">Quality</option>
        <option value="trait">Trait</option>
        {{/select}}</select>
        </div>
    {{#if (eq data.conditiontype 'injury')}}<div><select name="data.injurytype" value="{{data.injurytype}}">{{#select data.injurytype}}
        <option value="Moderate">Moderate</option>
        <option value="Serious">Serious</option>
        <option value="Grievous">Grievous</option>
        {{/select}}</select>
        </div>{{/if}}
    <div>Description:{{editor content=data.description target="data.description" button=true owner=owner editable=editable}}</div>
    </div>
</form>