<form class="actor-sheet {{cssClass}}" autocomplete="off">
        <img class="logo" style="height: 64px border: none" src={{#if (eq this.gameType "Zweihander")}}"systems/flames/assets/ZweihanderLogo.png"{{else}}"systems/flames/assets/FlamesLogo.png"{{/if}}>

        <div class="top-section">
        <div class="character-info">
            
            <div>
        <h3 id="Name" class="charname">Name <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h3>
        <h3>Social Class: <input name="data.socialclass" type="text" value="{{data.socialclass}}" /></h3>

            </div>
            <div>
        <h3>Tier: {{#if (eq data.tier 1)}}Basic{{/if}}{{#if (eq data.tier 2)}}Intermediate{{/if}}{{#if (eq data.tier 3)}}Advanced{{/if}}</h3>
        <h3>RP Earned: <input class="short-input" name="data.rpearned" value="{{data.rpearned}}" /></h3>
        <h3>Unique Advances: <input class="short-input" name="data.rpmisc" value="{{data.rpmisc}}" /></h3>
        <h3>RP Remaining: {{data.rpremaining}}</h3>
            </div>
            <div>
            <h3>Upbringing: <input name="data.upbringing" type="text" value="{{data.upbringing}}" /></h3>
            {{#each ancestries as |ancestry id|}}
                {{> "systems/flames/templates/partials/ancestry-card.hbs" ancestry}}
                {{/each}}
            </div>
        
        </div>
        <img class="character-art" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
        </div>
        <div class="alignment-section">
            <div>{{#if (eq this.gameType "Zweihander")}}Corruption:{{else}}Conflict:{{/if}}</div>
            <span>{{#if (eq this.gameType "Zweihander")}}Order{{else}}Belief:{{/if}}<input class="long-input" name="data.alignment.orderalign" value="{{data.alignment.orderalign}}" /></span>
            <span>{{> "systems/flames/templates/partials/order-dots.hbs"}}</span>
            <span class="corruption-display"><input name="data.alignment.corruption" value="{{data.alignment.corruption}}" /></span>
            <span>{{> "systems/flames/templates/partials/chaos-dots.hbs"}}</span>
            <span><input class="long-input" name="data.alignment.chaosalign" value="{{data.alignment.chaosalign}}" />{{#if (eq this.gameType "Zweihander")}}Chaos{{else}}Flaw:{{/if}}</span>
        </div>
         <nav class="sheet-navigation tabs" data-group="primary">
            <a class="item active" data-tab="Stats">Main</a>
            <a class="item" data-tab="Professions">Status</a>
            <a class="item" data-tab="Combat">Combat</a>
            {{#if (gt data.spells 0)}}<a class="item" data-tab="Magick">Magick</a>{{/if}}
            <a class="item" data-tab="Background">Background</a>

        </nav>
        <section class="sheet-body">
        <div class="tab Stats flexcol" data-group="primary" data-tab="Stats">
        <div class="main-tab">
        <div class="attribute-section">
            <div class="attribute-row">
                <div class="attribute-individual">
                    <div><a class="skill-roll" data-att="combat">Combat</a><br/><input class="attribute-value" name = "data.attributes.combat.value" value="{{data.attributes.combat.value}}" /></div>
                    <div>Bonus<br/><input class="attribute-value" name=data.combatbonus value="{{data.combatbonus}}" readonly /></div>
                </div>
                <div class="skill-section">


            {{#each data.skills.combat}}
                <div class="skill-individual"><a class="skill-roll" data-att="combat" data-skill="{{@key}}" data-type={{lookup (lookup @root.skillNames @key) "skilltype"}}>{{#if (gt this 0)}}<strong>{{/if}}{{lookup (lookup @root.skillNames @key) "displayname"}}{{#if (gt this 0)}}</strong>{{/if}}</a>
                    {{#if (gt this 0)}}<i class="far fa-dot-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
                    {{#if (gt this 1)}}<i class="far fa-dot-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
                    {{#if (gt this 2)}}<i class="far fa-dot-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
                    </div>

            {{/each}}

            </div>
            </div>
            <div class="attribute-row">
            <div class="attribute-individual">
                <div>Brawn<br/><input class="attribute-value" name = "data.attributes.brawn.value" value="{{data.attributes.brawn.value}}" /></div>
                <div>Bonus<br/><input class="attribute-value" name=data.brawnbonus value="{{data.brawnbonus}}" readonly /></div>
            </div>
            <div class="skill-section">
                {{#each data.skills.brawn}}
                <div class="skill-individual"><a class="skill-roll" data-att="brawn" data-skill="{{@key}}" data-type={{lookup (lookup @root.skillNames @key) "skilltype"}}>{{#if (gt this 0)}}<strong>{{/if}}{{lookup (lookup @root.skillNames @key) "displayname"}}{{#if (gt this 0)}}</strong>{{/if}}</a>
                    {{#if (gt this 0)}}<i class="far fa-dot-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
                    {{#if (gt this 1)}}<i class="far fa-dot-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
                    {{#if (gt this 2)}}<i class="far fa-dot-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
                    </div>

            {{/each}}

            </div>
            </div>
            <div class="attribute-row">
            <div class="attribute-individual">
                <div>Agility<br/><input class="attribute-value" name = "data.attributes.agility.value" value="{{data.attributes.agility.value}}" /></div>
                <div>Bonus<br/><input class="attribute-value" name=data.agilitybonus value="{{data.agilitybonus}}" readonly /></div>
            </div>
            <div class="skill-section">
             {{#each data.skills.agility}}
                <div class="skill-individual"><a class="skill-roll" data-att="agility" data-skill="{{@key}}" data-type={{lookup (lookup @root.skillNames @key) "skilltype"}}>{{#if (gt this 0)}}<strong>{{/if}}{{lookup (lookup @root.skillNames @key) "displayname"}}{{#if (gt this 0)}}</strong>{{/if}}</a>
                    {{#if (gt this 0)}}<i class="far fa-dot-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
                    {{#if (gt this 1)}}<i class="far fa-dot-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
                    {{#if (gt this 2)}}<i class="far fa-dot-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
                    </div>

            {{/each}}
            </div>
            </div>
            <div class="attribute-row">
            <div class="attribute-individual">
                <div>Perception<br/><input class="attribute-value" name = "data.attributes.perception.value" value="{{data.attributes.perception.value}}" /></div>
                <div>Bonus<br/><input class="attribute-value" name=data.perceptionbonus value="{{data.perceptionbonus}}" readonly /></div>
            </div>
            <div class="skill-section">
                {{#each data.skills.perception}}
                <div class="skill-individual"><a class="skill-roll" data-att="perception" data-skill="{{@key}}" data-type={{lookup (lookup @root.skillNames @key) "skilltype"}}>{{#if (gt this 0)}}<strong>{{/if}}{{lookup (lookup @root.skillNames @key) "displayname"}}{{#if (gt this 0)}}</strong>{{/if}}</a>
                    {{#if (gt this 0)}}<i class="far fa-dot-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
                    {{#if (gt this 1)}}<i class="far fa-dot-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
                    {{#if (gt this 2)}}<i class="far fa-dot-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
                    </div>

            {{/each}}
            </div>
            </div>
            <div class="attribute-row">
            <div class="attribute-individual">
                <div>Intelligence<br/><input class="attribute-value" name = "data.attributes.intelligence.value" value="{{data.attributes.intelligence.value}}" /></div>
                <div>Bonus<br/><input class="attribute-value" name=data.intelligencebonus value="{{data.intelligencebonus}}" readonly /></div>
            </div>
            <div class="skill-section">
                {{#each data.skills.intelligence}}
                <div class="skill-individual"><a class="skill-roll" data-att="intelligence" data-skill="{{@key}}" data-type={{lookup (lookup @root.skillNames @key) "skilltype"}}>{{#if (gt this 0)}}<strong>{{/if}}{{lookup (lookup @root.skillNames @key) "displayname"}}{{#if (gt this 0)}}</strong>{{/if}}</a>
                    {{#if (gt this 0)}}<i class="far fa-dot-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
                    {{#if (gt this 1)}}<i class="far fa-dot-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
                    {{#if (gt this 2)}}<i class="far fa-dot-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
                    </div>

            {{/each}}
            </div>
            </div>
            <div class="attribute-row">
            <div class="attribute-individual">
                <div>Willpower<br /><input class="attribute-value" name = "data.attributes.willpower.value" value="{{data.attributes.willpower.value}}" /></div>
                <div>Bonus<br/><input class="attribute-value" name=data.willpowerbonus value="{{data.willpowerbonus}}" readonly /></div>
            </div>
            <div class="skill-section">
                {{#each data.skills.willpower}}
                <div class="skill-individual"><a class="skill-roll" data-att="willpower" data-skill="{{@key}}" data-type={{lookup (lookup @root.skillNames @key) "skilltype"}}>{{#if (gt this 0)}}<strong>{{/if}}{{lookup (lookup @root.skillNames @key) "displayname"}}{{#if (gt this 0)}}</strong>{{/if}}</a>
                    {{#if (gt this 0)}}<i class="far fa-dot-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
                    {{#if (gt this 1)}}<i class="far fa-dot-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
                    {{#if (gt this 2)}}<i class="far fa-dot-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
                    </div>

            {{/each}}
            </div>
            </div>
            <div class="attribute-row">
            <div class="attribute-individual">
                <div>Fellowship<br/><input class="attribute-value" name = "data.attributes.fellowship.value" value="{{data.attributes.fellowship.value}}" /></div>
                <div>Bonus<br/><input class="attribute-value" name=data.fellowshipbonus value="{{data.fellowshipbonus}}" readonly /></div>
            </div>
            <div class="skill-section">
                {{#each data.skills.fellowship}}
                <div class="skill-individual"><a class="skill-roll" data-att="fellowship" data-skill="{{@key}}" data-type={{lookup (lookup @root.skillNames @key) "skilltype"}}>{{#if (gt this 0)}}<strong>{{/if}}{{lookup (lookup @root.skillNames @key) "displayname"}}{{#if (gt this 0)}}</strong>{{/if}}</a>
                    {{#if (gt this 0)}}<i class="far fa-dot-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
                    {{#if (gt this 1)}}<i class="far fa-dot-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
                    {{#if (gt this 2)}}<i class="far fa-dot-circle"></i>{{else}}<i class="far fa-circle"></i>{{/if}}
                    </div>

            {{/each}}
            </div>
            </div>
        </div>
        <div class= "right-column">
            <div class="combat-attributes">
                {{#if (eq this.gameType "Zweihander")}}Fate:{{else}}Determination:{{/if}} <input class="short-input"  name="data.determination" value="{{data.determination}}" />

            </div>
            <div>Encumbrance: <input class="single-input" name="data.encumbrance" value="{{data.encumbrance}}" readonly />/<input class="single-input" name="data.encumbrancelimit" value="{{data.encumbrancelimit}}" readonly /></div>
            <div class="peril-display">
            <span class="peril-display">Peril Threshold: <input name="data.perilthreshold" value="{{data.perilthreshold}}" readonly /></span>
            <span class="peril-display"><input name="data.perilthreshold2" value="{{data.perilthreshold2}}" readonly /></span>
            <span class="peril-display"><input name="data.perilthreshold3" value="{{data.perilthreshold3}}" readonly /></span>
            <span class="peril-display"><input name="data.perilthreshold4" value="{{data.perilthreshold4}}" readonly /></span></div>
            <div class="form-group">
                <label>Peril</label>
                <div class="form-peril">
                  {{radioBoxes "data.peril.value" perilchoices checked=data.peril.value}}
                </div>
            </div>
            <div>
                <a class="convert-gold">GC:</a>
                <input class="short-input" name="data.currency.gold" value="{{data.currency.gold}}" />
                <a class="convert-silver">SS:</a>
                <input class="short-input"  name="data.currency.silver" value="{{data.currency.silver}}" />
                <a class="convert-brass">BP:</a>
                <input class="short-input" name="data.currency.brass" value="{{data.currency.brass}}" />
            </div>
            <div>
            <label>Focuses Total: {{data.numberfocuses}}</label>
            {{#each focuses as |focus id|}}
                {{> "systems/flames/templates/partials/talent-card.hbs" focus}}
                {{/each}}
        </div>
            <div><button class="roll-peril button-style">Roll Peril</a></div>
            <div><button class="generate-attributes button-style">Generate Attributes</a></div>
            {{!-- <div><button class="reset-profession button-style">Reset Profession</a></div> --}}

        </div>
        </div>
        </div>
        <div class="tab Professions flexcol" data-group="primary" data-tab="Professions">
        <div class="profession-info">
        <div>
            <h1>Professions</h1>
            {{#each professions as |profession id|}}
                {{> "systems/flames/templates/partials/profession-card.hbs" profession}}
                {{/each}}
    
            {{#if (gt drawbacks.length 0)}}
        <div>
            <h1>Drawbacks</h1>
            {{#each drawbacks as |drawback id|}}
            {{> "systems/flames/templates/partials/condition-card.hbs" drawback}}
            {{/each}}
        </div>
        {{/if}}
        {{#if (gt diseases.length 0)}}
        <div>
            <h1>Diseases</h1>
            {{#each diseases as |disease id|}}
            {{> "systems/flames/templates/partials/condition-card.hbs" disease}}
            {{/each}}
        </div>
        {{/if}}
        {{#if (gt disorders.length 0)}}
        <div>
            <h1>Disorders</h1>
            {{#each disorders as |disorder id|}}
            {{> "systems/flames/templates/partials/condition-card.hbs" disorder}}
            {{/each}}
        </div>
        {{/if}}
        {{#if (gt mutations.length 0)}}
        <div>
            <h1>Mutations</h1>
            {{#each mutations as |mutation id|}}
            {{> "systems/flames/templates/partials/condition-card.hbs" mutation}}
            {{/each}}
        </div>
        {{/if}}
        </div>
        
        
        <div>
            <h1>Talents & Traits</h1>
            {{#each talentTraits as |talentTrait id|}}
                {{> "systems/flames/templates/partials/talent-card.hbs" talentTrait}}
                {{/each}}
        </div>
        

        </div>
        </div>
        <div class="tab Combat" data-group="primary" data-tab="Combat">
          <div class="main-tab">
            <div class="combat-column">
                <div class="weapon-section">
                    {{#if (eq this.itemCreate false)}}<h1><a class="open-hidden-qualities"><i class="fas fa-chevron-down"></i></a>Weapons</h1>{{/if}}
                {{#if (eq this.itemCreate true)}}<h1 class="cell__title">
                  <a class="open-hidden-qualities"><i class="fas fa-chevron-down"></i></a><label>Weapons</label>
                  <button type="button" class="item-control item-create" data-type="Weapon">
                    <i class="fas fa-plus"></i>
                  </button>
                  
                </h1>
                    {{/if}}
                <div class="quality-section" id="quality-section" style="display: none">
                    {{#each qualities as |quality id|}}
                    {{> "systems/flames/templates/partials/condition-card.hbs" quality}}
                    {{/each}}

                </div>
                {{#each weapons as |weapon id|}}
                    {{> "systems/flames/templates/partials/weapon-card.hbs" weapon}}
                    {{/each}}

                </div>
                <div class="armor-section">
                <h1>Armor</h1>
                {{#each armor as |armor id|}}
                    {{> "systems/flames/templates/partials/armor-card.hbs" armor}}
                    {{/each}}

                </div>
                <div class="condition-section">
                <h1>Conditions & Injuries</h1>
                {{#each conditions as |condition id|}}
                    {{> "systems/flames/templates/partials/condition-card.hbs" condition}}
                    {{/each}}

                </div>
            </div>
            <div class="combat-column">
                Action Points: <input class=" short-input" name="data.actionpoints" value="{{data.actionpoints}}" />
                Initiative Dice: <input class="short-input" name="data.initiativedice" value="{{data.initiativedice}}" />

                <div class="wound-display">
                <span class="wound-display">Wound Threshold: <input name="data.woundthreshold" value="{{data.woundthreshold}}" readonly /></span>
                <span class="wound-display"><input name="data.woundthreshold2" value="{{data.woundthreshold2}}" readonly /></span>
                <span class="wound-display"><input name="data.woundthreshold3" value="{{data.woundthreshold3}}" readonly /></span>
                <span class="wound-display"><input name="data.woundthreshold4" value="{{data.woundthreshold4}}" readonly /></span></div>
                Initiative: <input class=" short-input" name="data.initiative" value="{{data.initiative}}" />
                Movement: <input class=" short-input" name="data.movement" value="{{data.movement}}" readonly/>
                 <div class="form-group">
                    <label>Damage</label>
                    <div class="form-damage">
                      {{radioBoxes "data.damage.value" damagechoices checked=data.damage.value}}
                    </div>
                </div>
                <div>
                    <select id="{{actor._id}}-picker">
                    {{#each conditionNames as |condition id|}}
                    <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                    </select>
                    <button class="add-condition">Add Condition</button>
                </div>

            </div>
          </div>
        </div>
        <div class="tab Magick" data-group="primary" data-tab="Magick">
            {{#each spells as |spell id|}}
                {{> "systems/flames/templates/partials/spell-card.hbs" spell}}
                {{/each}}
        </div>
        <div class="tab Backgrounds flexcol" data-group="primary" data-tab="Background">
            <div class="profession-info">
            <div>Height: <input class="short-input" name="data.height" value="{{data.height}}" />
            Weight: <input class="short-input" name="data.weight" value="{{data.weight}}" />
            Age: <input class="short-input" name="data.age" value="{{data.age}}" />
            </div>
            <div>
            Eyes: <input class="short-input" name="data.eyes" value="{{data.eyes}}" />
            Hair: <input class="short-input" name="data.hair" value="{{data.hair}}" /><br/>
            Dooming: <input name="data.dooming" value="{{data.dooming}}" /><br/>
            Season of Birth: <input class="long-input" name="data.birthseason" value="{{data.birthseason}}" />
            </div>
            </div>
            <div>
            {{#if (eq this.itemCreate false)}}<h1>Trappings</h1>{{/if}}
            {{#if (eq this.itemCreate true)}}<h1 class="cell__title">
              <label>Trappings</label>
              <button type="button" class="item-control item-create" data-type="Trapping">
                <i class="fas fa-plus"></i>
              </button>
              
            </h1>
            <div class="item-controls" >

            </div>{{/if}}
            
            {{#each trappings as |trapping id|}}
                {{> "systems/flames/templates/partials/trapping-card.hbs" trapping}}
                {{/each}}




            </div>
            <div class="editor-row"><h1>Biography:</h1> {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}</div>
        </div>
        </section>
</form>
